<ul class="pc-navbar">
  <li class="pc-item pc-caption">
    <label>Navigation</label>
  </li>
  <li class="pc-item" data-role="Direktur,Marketing,Produksi">
    <a href="../dashboard/index.html" class="pc-link">
      <span class="pc-micon">
        <i data-feather="home"></i>
      </span>
      <span class="pc-mtext">Dashboard</span>
    </a>
  </li>
  <li class="pc-item pc-caption" data-role="Direktur,Marketing">
    <label>Customer & Barang</label>
    <i data-feather="box"></i>
  </li>
  <li class="pc-item pc-hasmenu" data-role="Direktur,Marketing">
    <a href="#" class="pc-link">
      <span class="pc-micon">
        <i data-feather="users"></i>
      </span>
      <span class="pc-mtext">Customer</span>
      <span class="pc-arrow">
        <i data-feather="chevron-right"></i>
      </span>
    </a>
    <ul class="pc-submenu">
      <li class="pc-item">
        <a class="pc-link" href="../pages/input-new-customer.html">Tambah Customer Baru</a>
      </li>
      <li class="pc-item">
        <a class="pc-link" href="../pages/kelola-data.html">Data Customer</a>
      </li>
    </ul>
  </li>
  <li class="pc-item pc-hasmenu" data-role="Direktur,Marketing">
    <a href="#" class="pc-link">
      <span class="pc-micon">
        <i data-feather="package"></i>
      </span>
      <span class="pc-mtext">Barang</span>
      <span class="pc-arrow">
        <i data-feather="chevron-right"></i>
      </span>
    </a>
    <ul class="pc-submenu">
      <li class="pc-item">
        <a class="pc-link" href="../pages/input-nama-barang.html">Tambah Barang</a>
      </li>
      <li class="pc-item">
        <a class="pc-link" href="../pages/kelola-barang.html">Data Barang</a>
      </li>
    </ul>
  </li>
  <li class="pc-item" data-role="Direktur,Marketing">
    <a href="../pages/input-po.html" class="pc-link">
      <span class="pc-micon">
        <i data-feather="file-text"></i>
      </span>
      <span class="pc-mtext">Buat PO Baru</span>
    </a>
  </li>
  <li class="pc-item" data-role="Direktur,Marketing">
    <a href="../pages/laporan-po.html" class="pc-link">
      <span class="pc-micon">
        <i data-feather="clipboard"></i>
      </span>
      <span class="pc-mtext">Laporan Pesanan</span>
    </a>
  </li>
  <li class="pc-item pc-caption" data-role="Direktur,Produksi">
    <label>Produksi</label>
    <i data-feather="tool"></i>
  </li>
  <li class="pc-item" data-role="Direktur,Produksi">
    <a href="../pages/Input-Produksi.html" class="pc-link">
      <span class="pc-micon">
        <i data-feather="edit-3"></i>
      </span>
      <span class="pc-mtext">Catat Produksi Baru</span>
    </a>
  </li>
  <li class="pc-item" data-role="Direktur,Produksi">
    <a href="../pages/history-produksi.html" class="pc-link">
      <span class="pc-micon">
        <i data-feather="clock"></i>
      </span>
      <span class="pc-mtext">Riwayat Produksi</span>
    </a>
  </li>
  <li class="pc-item pc-caption" data-role="Direktur,Produksi">
    <label>Manajemen</label>
    <i data-feather="user-check"></i>
  </li>
  <li class="pc-item pc-hasmenu" data-role="Direktur">
    <a href="#" class="pc-link">
      <span class="pc-micon">
        <i data-feather="users"></i>
      </span>
      <span class="pc-mtext">Staff</span>
      <span class="pc-arrow">
        <i data-feather="chevron-right"></i>
      </span>
    </a>
    <ul class="pc-submenu">
      <li class="pc-item">
        <a class="pc-link" href="../pages/input-staff.html">Tambah Staff</a>
      </li>
      <li class="pc-item">
        <a class="pc-link" href="../pages/kelola-staff.html">Data Staff</a>
      </li>
    </ul>
  </li>
  <li class="pc-item pc-hasmenu" data-role="Direktur,Produksi">
    <a href="#" class="pc-link">
      <span class="pc-micon">
        <i data-feather="database"></i>
      </span>
      <span class="pc-mtext">Data Master</span>
      <span class="pc-arrow">
        <i data-feather="chevron-right"></i>
      </span>
    </a>
    <ul class="pc-submenu">
      <li class="pc-item">
        <a class="pc-link" href="../pages/input-mesin.html">Tambah Mesin</a>
      </li>
      <li class="pc-item">
        <a class="pc-link" href="../pages/kelola-mesin.html">Data Mesin</a>
      </li>
      <li class="pc-item">
        <a class="pc-link" href="../pages/input-operator.html">Tambah Operator</a>
      </li>
      <li class="pc-item">
        <a class="pc-link" href="../pages/kelola-operator.html">Data Operator</a>
      </li>
    </ul>
  </li>
</ul>
