@@include('../layouts/menu-list.html')
<!-- Existing Produksi menu item -->
<li class="pc-item pc-hasmenu">
  <a href="#!" class="pc-link">
    <span class="pc-micon">
      <i class="ph-duotone ph-factory"></i>
    </span>
    <span class="pc-mtext">Produksi</span>
    <span class="pc-arrow"><i data-feather="chevron-right"></i></span>
  </a>
  <ul class="pc-submenu">
    <li class="pc-item">
      <a class="pc-link" href="../pages/Input-Produksi.html">Input Produksi</a>
    </li>
    <li class="pc-item">
      <a class="pc-link" href="../pages/history-produksi.html">History Produksi</a>
    </li>
  </ul>
</li>

<!-- ============== TAMBAHKAN KODE DI BAWAH INI ============== -->
<li class="pc-item pc-hasmenu" id="admin-panel-menu">
    <a href="#!" class="pc-link">
        <span class="pc-micon">
            <i class="ph-duotone ph-user-gear"></i>
        </span>
        <span class="pc-mtext">Admin Panel</span>
        <span class="pc-arrow"><i data-feather="chevron-right"></i></span>
    </a>
    <ul class="pc-submenu">
        <li class="pc-item">
            <a class="pc-link" href="../pages/input-staff.html">Input Staff</a>
        </li>
    </ul>
</li>
<!-- ========================================================= -->
